<!DOCTYPE html>
<html>
  <head>
    <title>Calculadora API</title>
  </head>
  <body>
    <h1>Calculadora API</h1>
    <p>Esta API disponibiliza as seguintes rotas:</p>
    <ul>
      <li>
        <code>/add</code>: Recebe um objeto JSON contendo uma lista de números e
        retorna a soma desses números.
      </li>
      <li>
        <code>/subtract</code>: Recebe um objeto JSON contendo uma lista de dois
        números e retorna a diferença entre eles.
      </li>
      <li>
        <code>/multiply</code>: Recebe um objeto JSON contendo uma lista de dois
        números e retorna o produto desses números.
      </li>
      <li>
        <code>/divide</code>: Recebe um objeto JSON contendo uma lista de dois
        números e retorna a divisão do primeiro pelo segundo.
      </li>
      <li>
        <code>/square-root</code>: Recebe um objeto JSON contendo um número e
        retorna a raiz quadrada desse número.
      </li>
      <li>
        <code>/power</code>: Recebe um objeto JSON contendo um número e um
        expoente e retorna o resultado da potência do número pelo expoente.
      </li>
      <li>
        <code>/mean</code>: Recebe um objeto JSON contendo uma lista de números
        e retorna a média aritmética desses números.
      </li>
      <li>
        <code>/harmonic-mean</code>: Recebe um objeto JSON contendo uma lista de
        números e retorna a média harmônica desses números.
      </li>
      <li>
        <code>/mode</code>: Recebe um objeto JSON contendo uma lista de números
        e retorna a moda desses números.
      </li>
    </ul>
    <p>
      Para utilizar a API, envie um objeto JSON contendo as informações
      necessárias para a rota desejada.
    </p>
  </body>
</html>
